.login-state
  background-color #216dcc
  height 100%
  display flex
  flex-flow column nowrap
  align-items center
  justify-content center

.login-state
  &__master-keeper
    background-color #fff

.login-master
  width 350px
  padding 20px
  text-align center
  &__hero
    font-size 25px
    color #ccc
  &__form
    margin-top 30px

.login-form
  width 100%
  height 100px
  display flex
  align-items center
  justify-content space-between
  flex-flow column nowrap
  &__filed
    line-height 20px
    width 100%
    & input
      width 100%
      box-sizing border-box
  &__submit
    width 100%
    line-height 30px
    background-color #03b5cc
    color #fff
    text-align center
